/*
 * Copyright (c) 2008-2011 Martin Mitas
 *
 * This file contains example code for mCtrl library. Code of this example
 * (but not the library itself) has been placed in the public domain.
 */

#include <windows.h>
#include "ex_mditab.h"

/* Manifest enabling XP themes */
1 RT_MANIFEST res/manifest.xml

/* Image list */
IDL_IMGLIST BITMAP res/img_list.bmp
