/*
 * This file contains example code for mCtrl library. Code of this example
 * (but not the library itself) has been released into the public domain.
 */

#include <windows.h>
#include "example-mditab.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* Manifest enabling XP themes */
1 RT_MANIFEST res/manifest.xml

/* Application icon */
2 ICON res/app.ico


/* Image list */
IDL_IMGLIST BITMAP res/img_list.bmp
