/*
 * This file contains example code for mCtrl library. Code of this example
 * (but not the library itself) has been released into the public domain.
 */

#include <windows.h>
#include <mCtrl/chart.h>
#include "example-chart.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* Manifest enabling XP themes */
1 RT_MANIFEST res/manifest.xml

/* Application icon */
2 ICON res/app.ico


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

/* Dialog box */
IDD_DIALOG DIALOG 100, 100, 622, 322
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "mCtrl Example: CHART Control"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Pie chart", IDC_CHART_PIE, MC_WC_CHART, MC_CHS_PIE | MC_CHS_DOUBLEBUFFER, 7, 7, 200, 100, WS_EX_STATICEDGE
    CONTROL "Scatter chart", IDC_CHART_SCATTER, MC_WC_CHART, MC_CHS_SCATTER | MC_CHS_DOUBLEBUFFER, 211, 7, 200, 100, WS_EX_STATICEDGE
    CONTROL "Line chart", IDC_CHART_LINE, MC_WC_CHART, MC_CHS_LINE | MC_CHS_DOUBLEBUFFER, 415, 7, 200, 100, WS_EX_STATICEDGE

    CONTROL "Area chart", IDC_CHART_AREA, MC_WC_CHART, MC_CHS_AREA | MC_CHS_DOUBLEBUFFER, 7, 111, 200, 100, WS_EX_STATICEDGE
    CONTROL "Column chart", IDC_CHART_COLUMN, MC_WC_CHART, MC_CHS_COLUMN | MC_CHS_DOUBLEBUFFER, 211, 111, 200, 100, WS_EX_STATICEDGE
    CONTROL "Bar chart", IDC_CHART_BAR, MC_WC_CHART, MC_CHS_BAR | MC_CHS_DOUBLEBUFFER, 415, 111, 200, 100, WS_EX_STATICEDGE

    CONTROL "Stacked area chart", IDC_CHART_STACKEDAREA, MC_WC_CHART, MC_CHS_STACKEDAREA | MC_CHS_DOUBLEBUFFER, 7, 215, 200, 100, WS_EX_STATICEDGE
    CONTROL "Stacked column chart", IDC_CHART_STACKEDCOLUMN, MC_WC_CHART, MC_CHS_STACKEDCOLUMN | MC_CHS_DOUBLEBUFFER, 211, 215, 200, 100, WS_EX_STATICEDGE
    CONTROL "Stacked bar chart", IDC_CHART_STACKEDBAR, MC_WC_CHART, MC_CHS_STACKEDBAR | MC_CHS_DOUBLEBUFFER, 415, 215, 200, 100, WS_EX_STATICEDGE
END
