/*
 * This file contains example code for mCtrl library. Code of this example
 * (but not the library itself) has been released into the public domain.
 */

#include <windows.h>
#include <mCtrl/imgview.h>
#include "example-imgview.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* Manifest enabling XP themes */
1 RT_MANIFEST res/manifest.xml

/* Application icon */
2 ICON res/app.ico


/* PNG image */
50 RCDATA res/lenna.bmp
51 RCDATA res/lenna.png
52 RCDATA res/lenna.jpg
53 RCDATA res/lenna.gif


LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

/* Dialog box */
IDD_DIALOG DIALOG 100, 100, 324, 255
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "mCtrl Example: IMGVIEW Control"
FONT 8, "MS Shell Dlg"
BEGIN
    /* Several image view controls, each referring to different image format
     * and different control style and size to show possible scaling options. */
    CONTROL "BMP:", -1, "STATIC", 0, 7, 7, 30, 10
    CONTROL 50, -1, MC_WC_IMGVIEW, 0, 7, 17, 100, 100, WS_EX_STATICEDGE
    CONTROL "PNG:", -1, "STATIC", 0, 112, 7, 30, 10
    CONTROL 51, -1, MC_WC_IMGVIEW, MC_IVS_REALSIZEIMAGE, 112, 17, 100, 100, WS_EX_STATICEDGE
    CONTROL "JPG:", -1, "STATIC", 0, 7, 123, 30, 10
    CONTROL 52, -1, MC_WC_IMGVIEW, MC_IVS_REALSIZECONTROL, 7, 133, 205, 100, WS_EX_STATICEDGE
    CONTROL "GIF:", -1, "STATIC", 0, 217, 7, 30, 10
    CONTROL 53, -1, MC_WC_IMGVIEW, MC_IVS_REALSIZECONTROL, 217, 17, 100, 216, WS_EX_STATICEDGE
    CONTROL "Image view controls with images in several formats, with various scaling styles.", -1, "STATIC", SS_CENTER, 7, 239, 310, 10
END
