/*
 * Copyright (c) 2008-2016 Martin Mitas
 *
 * This library is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation; either version 2.1 of the License, or
 * (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this library; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */

#include <winresrc.h>
#include "version.h"
#include "resource.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(DEFAULT)



/**********************************
 *** Language neutral resources ***
 **********************************/

IDR_GLYPHS           BITMAP  "res/glyphs.bmp"

IDR_EXPAND_GLYPHS_19 BITMAP  "res/expand-19x19.bmp"
IDR_EXPAND_GLYPHS_24 BITMAP  "res/expand-24x24.bmp"
IDR_EXPAND_GLYPHS_29 BITMAP  "res/expand-29x29.bmp"

IDR_CURSOR_DIVIDER_H CURSOR  "res/divider-h.cur"
IDR_CURSOR_DIVIDER_V CURSOR  "res/divider-v.cur"
IDR_CURSOR_DIVOPEN_H CURSOR  "res/divopen-h.cur"
IDR_CURSOR_DIVOPEN_V CURSOR  "res/divopen-v.cur"


/********************
 *** Version info ***
 ********************/

VS_VERSION_INFO VERSIONINFO
FILEVERSION    MC_VERSION_MAJOR, MC_VERSION_MINOR, MC_VERSION_RELEASE, 0
PRODUCTVERSION MC_VERSION_MAJOR, MC_VERSION_MINOR, MC_VERSION_RELEASE, 0
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifndef DEBUG
FILEFLAGS      0
#else
FILEFLAGS      VS_FF_DEBUG
#endif
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_DLL
FILESUBTYPE    0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"   /* language: 0 (neutral); charset: 0x04b0 == 1200 (unicode) */
        BEGIN
            VALUE "ProductName",       "mCtrl Library"
            VALUE "FileDescription",   "Additional User Experience Controls Library"
            VALUE "OriginalFilename",  "mCtrl.dll"
            VALUE "InternalName",      "mCtrl"
            VALUE "CompanyName",       "morous.org"
            VALUE "FileVersion",       MC_VERSION_STR
            VALUE "ProductVersion",    MC_VERSION_STR
#pragma code_page(1250)
            VALUE "LegalCopyright",    "© 2008-2013 Martin Mitáš"
#pragma code_page(DEFAULT)
            VALUE "WWW",               "http://mctrl.org"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 1200
    END
END


/******************************
 *** Per-language resources ***
 ******************************/

#include "res/lang-cs.rc"       /* Czech */
#include "res/lang-en.rc"       /* English */
#include "res/lang-fr.rc"       /* French */
#include "res/lang-it.rc"       /* Italian */

