
#include <windows.h>
#include "image-from-buffer.h"


ID_LENNA_JPG RCDATA "lenna.jpg"


ID_MENU MENU
BEGIN
    POPUP "&Pixel format"
    BEGIN
        MENUITEM "&1 Palette",          IDM_FORMAT_PALETTE
        MENUITEM "&2 R8G8B8",           IDM_FORMAT_R8G8B8
        MENUITEM "&3 R8G8B8A8",         IDM_FORMAT_R8G8B8A8
        MENUITEM "&4 B8G8R8A8",         IDM_FORMAT_B8G8R8A8
    END

    POPUP "Base &color"
    BEGIN
        MENUITEM "&Black",              IDM_COLOR_BLACK
        MENUITEM "&Gray",               IDM_COLOR_GRAY
        MENUITEM "&White",              IDM_COLOR_WHITE
        MENUITEM SEPARATOR
        MENUITEM "&Red",                IDM_COLOR_RED
        MENUITEM "&Green",              IDM_COLOR_GREEN
        MENUITEM "&Blue",               IDM_COLOR_BLUE
    END

    POPUP "&Transparency"
    BEGIN
        MENUITEM "&100% transparent",   IDM_TRANSPARENT_100
        MENUITEM "&80% transparent",    IDM_TRANSPARENT_80
        MENUITEM "&60% transparent",    IDM_TRANSPARENT_60
        MENUITEM "&40% transparent",    IDM_TRANSPARENT_40
        MENUITEM "&20% transparent",    IDM_TRANSPARENT_20
        MENUITEM "&0% transparent",     IDM_TRANSPARENT_0
    END
END
